<div class="bg">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto pt-5 container-fluid">
        <img src="..\assets\Logo.png">
        <h3 style="color: white" class="row justify-content-md-center pt-5 container-fluid">Selecione seu perfil</h3>
        <br>
      </div>
      <div class="row justify-content-md-center pt-5 container-fluid">
        <div class="col-sm-4">
          <a class="card-block stretched-link text-decoration-none nav-link loginComponent" (click)="oticas()">
            <div class="card text-center text-white bg-primary pt-3" style="width: 18rem; height: 12rem;">
              <h5 class="card-title">Óticas</h5>
              <div class="card-body">
                <p class="card-text">Área destinada aos donos Óticas. Visualize seus vales e todos os vouchers contidos
                  em cada um.</p>
                <p id="square"></p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="card-block stretched-link text-decoration-none nav-link loginComponent" (click)="solution()">
            <div class="card text-center text-white bg-primary pt-3" style="width: 18rem; height: 12rem;">
              <h5 class="card-title">Equipe Solutions</h5>
              <div class="card-body">
                <p class="card-text">Área destinada à equipe Essilor. Acesse com detalhes as informações necessárias ao
                  dia a dia.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-4">
          <a class="card-block stretched-link text-decoration-none nav-link loginComponent" (click)="laboratorio()">
            <div class="card text-center text-white bg-primary pt-3" style="width: 18rem; height: 12rem;">
              <h5 class="card-title">Laboratório</h5>
              <div class="card-body">
                <p class="card-text">Área destinada a gestores de laboratórios. Valide e libere os vouchers que serão
                  utilizados pelas óticas.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer">
  <div class="justify-content-start">
    <div class="d-flex flex-row bd-highlight">
      <div class="p-2 bd-highlight"><a href="https://www.varilux.com.br"><img src="..\assets\Varilux.png"></a></div>
      <div class="p-2 bd-highlight"><a href="http://www.crizal.com.br/"><img src="..\assets\Crizal.png"></a></div>
      <div class="p-2 bd-highlight"><a href="http://www.transitions.com"><img src="..\assets\Transitions.png"></a></div>
      <div class="p-2 bd-highlight"><a href="https://www.essilor.pt/lentes/essilor-sun/lentes-polarizadas-xperio"><img
            src="..\assets\Xperio.png"></a></div>
      <div class="p-2 bd-highlight"><a href="https://www.eyezen.com.br/"><img src="..\assets\Eyezen.png"></a></div>
      <div class="p-2 flex-grow-1 bd-highlight"><a href="https://www.lenteskodak.com.br/"><img
            src="..\assets\LentesKodak.png"></a></div>
      <div class="p-2 bd-highlight"><a href="http://www.essilor.com.br/"><img src="..\assets\Essilor.png"></a></div>
    </div>
  </div>
</div>