<div class="bg containerFront">
  <div class="row" style="width: 100%; margin: 0;">
    <div class="col-md-12 pt-5 text-center" style="padding: 0;">
      <img class="logo img-responsive" src="..\assets\Logo.png">
      <h3 style="color: white" class="text-center pt-5">Selecione seu perfil</h3>
      <br>
    </div>
  </div>

  <div class="cards row">
    <div class="col-md-4">
      <a class="card-block text-decoration-none" href="https://google.com/">
        <div class="card card-a text-center text-white bg-primary pt-3">
          <h5 class="card-title">Óticas</h5>
          <div class="card-body">
            <p class="card-text">Área destinada aos donos Óticas. Visualize seus vales e todos os vouchers
              contidos
              em cada um.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="card-block text-decoration-none" href="https://web.whatsapp.com/">
        <div class="card card-a text-center text-white bg-primary pt-3">
          <h5 class="card-title">Equipe Solutions</h5>
          <div class="card-body">
            <p class="card-text">Área destinada à equipe Essilor. Acesse com detalhes as informações necessárias
              ao
              dia a dia.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="col-md-4">
      <a class="card-block text-decoration-none register-custom" href="/loginComponent">
        <div class="card card-a text-center text-white bg-primary pt-3">
          <h5 class="card-title">Laboratório</h5>
          <div class="card-body">
            <p class="card-text">Área destinada a gestores de laboratórios. Valide e libere os vouchers que serão
              utilizados pelas óticas.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>