body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg {
  background-image: url("/assets/Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  clear: both;
}

@font-face {
  font-family: openSans;
  src: url(assets/font/OpenSans-Regular.ttf) format("opentype");
}
@font-face{
  font-family: montSerratBold;
  src: url(assets/font/Montserrat-Bold.otf) format("opentype");
}
@font-face{
  font-family: helveticaNeueBold;
  src: url(assets/font/helvetica-neue-bold.ttf) format("opentype");
}


