body,


html {
  height: 100%;
  width: 100%;
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  overflow: hidden;
}

.bg {
  background-image: url("/assets/Background.png");
  height: 100%;
  background-size: cover;
}

@font-face {
  font-family: openSans;
  src: url(assets/font/OpenSans-Regular.ttf) format("opentype");
}
@font-face{
  font-family: montSerratBold;
  src: url(assets/font/Montserrat-Bold.otf) format("opentype");
}


